{% if page.header %}
<header>
  {{ page.header }}
  <div class="local-header">
    <a class="local-menu-button pull-xs-right hidden-md-up" href="#vertical-menu" data-toggle="collapse">
      <span class="fa fa-bars fa-2x"></span>
    </a>
    <div class="container p-a-1">
      {{ page.breadcrumb }}
      <div>
        <p class="title">{{ page.title }}</p>
      </div>
    </div>
  </div>
</header>
{% endif %}
<main>
  {{ page.content }}
</main>
{% if page.footer %}
<footer>
  {{ page.footer }}
</footer>
{% endif %}
